/*---------------------------BG Colors---------------------- */

body {
    background-color: #f0f0f0;
}

.bg-navbar {
    background-color: #f0f0f0;
}

.bg-header {
    background-color: #565656;
}

.about-me {
    background-color: #caebf2;
}

.photo {
    background-color: #caebf2;
}

.contact-info {
    background-color: #7395ae;
    color: #fafafa;
    font-weight: normal;
}

.bg-work-timeline {
    background-color: #caebf2;
}

.bg-school-timeline {
    background-color: #caebf2;
}

.bg-skills {
    background-color: #caebf2;
}

.bg-footer {
    background-color: #565656;
}

.bg-button {
    background-color: #caebf2;
}

.bg-portfolio {
    background-color: #caebf2;
}

.bg-contact {
    background-color: #caebf2;
}

/*---------------------------Header---------------------- */

.heading {
    text-align: center;
    border-radius: 25px;
}

.name {
    margin-top: 60px;
    color: #fff;
}

.title {
    color: #e3e1e1;
    margin-bottom: 20px;
}

.social-links {
    margin-left: 40px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 2px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out, ;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #b8784b;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}


/*---------------------------About Me---------------------- */

.about-me {
    border-width: 2px 4px;
    border-radius: 40px;
    color: #f5f5f5;
    text-align: left;
}

.about-me p {
    color: #565656;
    font-weight: 500;
}

.photo {
    border-width: 2px 4px;
    border-radius: 40px;
}


h2 {
    color: #76323f;
    padding-top: 8px;
}

/*--------------------------Contact Me Page---------------------- */

.contact-page {
    border-width: 2px 4px;
    border-radius: 40px;
    color: #76323f;
    font-weight: bold;
}

.title-2 {
    color: #76323f;
}

.personal-info-item-2 {
    display: inline-block;
    margin-left: 80px;
    margin-right: 20px;
}

.personal-info-item .title-2,
.personal-info-item .value-2 {
    display: inline-block;
    padding-right: 15px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 70%;
    }
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #76323f;
    text-align: center;
}


/*---------------------------Contact Info---------------------- */

.personal-info-item {
    margin-bottom: 10px;
    display: block;
    clear: both;
    font-size: 20px;
}

.personal-info-item .title,
.personal-info-item .value {
    display: inline-block;
    padding-right: 15px;
}

button[type="button"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #76323f;
}

.contact-me-btn {
    margin-left: 110px;
}

/*--------------------------Resume---------------------- */

.resume {
    text-align: center;
    color: #fafafa;
    padding: 8px;
}

.resume-link {
    margin-top: 100px;
    transition: all 0.35s ease-in-out, ;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.resume-link:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}


.work-history {
    color: #565656;
    text-align: center;
}

.work-timeline {
    border-width: 2px 4px;
    border-radius: 40px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #565656;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
    color: #76323f;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #565656;
}


.school {
    color: #565656;
    text-align: center;
}

.school-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #565656;
    border-left: 1px solid;
}


.school-timeline {
    border-width: 2px 4px;
    border-radius: 40px;
}

.school-item p {
    padding: 0;
    margin: 0;
    color: #76323f;
}

.school-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.school-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #565656;
}

.skills {
    color: #565656;
    text-align: center;
}

.skills-list {
    border-width: 2px 4px;
    border-radius: 40px;
}


/*---------------------------Footer---------------------------*/

.footer {
    border-radius: 25px;
    color: #e3e1e1
}

h5 {
    text-align: center;
}

.social-links-footer li a i {
    width: 32px;
    height: 32px;
    padding: 12px 2px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out, ;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links-footer li a i:hover {
    background-color: #b8784b;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.resume-pdf i {
    color: #f5f5f5;
    padding-left: 8px;
    transition: all 0.35s ease-in-out, ;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.resume-pdf i:hover {
    color: #b8784b;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

/*---------------------------Portfolio---------------------------*/

.portfolio {
    border-width: 2px 4px;
    border-radius: 40px;
}



.portfolio-item {
    transition: all 0.35s ease-in-out, ;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.portfolio-item:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
    background-color: #D3D3D3;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}
