/*---------------------------Media Queries---------------------- */

@media (hover: none) {
    .contact-info {
        background-color: #7395ae;
        opacity: 1.2;
    }
}


/*---------------------------BG Colors---------------------- */

.bg-header {
    background-color: #8a8884;
}

.about-me {
    background-color: #87acc7;
}

.photo {
    background-color: #87acc7;
}

.contact-info {
    background-color: #7395ae;
    opacity: 0.75;
    transition: opacity .5s ease-out, font-weight .25s ease-in-out;
    -moz-transition: opacity .5s ease-out, font-weight .25s ease-in-out;
    -webkit-transition: opacity .5s ease-out, font-weight .25s ease-in-out;
    color: #fafafa;
    font-weight: normal;
}

.contact-info:hover {
    opacity: 1.2;
    font-weight: bold;
}

.bg-work-timeline {
    background-color: #87acc7;
}

.bg-school-timeline {
    background-color: #87acc7;
}

/*---------------------------Header---------------------- */

.heading {
    text-align: center;
    border-radius: 25px;
}

.name {
    margin-top: 60px;
    color: #fff;
}

.title {
    color: #e3e1e1;
    margin-bottom: 20px;
}

.social-links {
    margin-left: 40px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 2px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out, ;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #b8784b;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}


/*---------------------------About Me---------------------- */

.about-me {
    border-width: 2px 4px;
    border-radius: 40px;
    color: #f5f5f5;
    text-align: left;
}

.about-me p {
    width: 80%;
    color: #f5f5f5;
}

.photo {
    border-width: 2px 4px;
    border-radius: 40px;
}

/*---------------------------Contact Info---------------------- */

.personal-info-item {
    margin-bottom: 10px;
    display: block;
    clear: both;
    font-size: 20px;
}

.personal-info-item .title,
.personal-info-item .value {
    display: inline-block;
    padding-right: 15px;
}

/*--------------------------Resume---------------------- */

.resume {
    background-color: #8a8884;
    text-align: center;
    color: #fafafa;
    padding: 8px;
}

.work-history {
    color: #f5f5f5;
    text-align: center;
}

.work-timeline {
    border-width: 2px 4px;
    border-radius: 40px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #fafafa;
}


.school {
    color: #f5f5f5;
    text-align: center;
}

.school-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}


.school-timeline {
    border-width: 2px 4px;
    border-radius: 40px;
}

.school-item p {
    padding: 0;
    margin: 0;
}

.school-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.school-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #fafafa;
}

/*---------------------------Footer---------------------------*/

.footer {
    background-color: #525252;
    border-radius: 25px;
}

.footer-p {
    text-align: center;
}

.footer h5,p {
    color: #e3e1e1;
}

.footer h5,ul { 
    text-align: center;
}

.social-links-footer li a i {
    width: 32px;
    height: 32px;
    padding: 12px 2px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out, ;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.resume-pdf i {
    color: #f5f5f5;
    padding-left: 8px;
}